
.App {
  text-align: center;
  box-shadow: 18px 47px 58px 4px rgba(0,0,0,0.2);
  max-width: 800px;
  width: 100%;
  margin: 3% auto;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background:url('./background.jpg') center/cover;
  background-repeat: no-repeat;
  /* background-color: #6c2ae4; */
  padding: .5rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header h3{
  margin-top: 25%;
  background: rgba(166, 32, 57, 0.3);
  padding: .25rem;
  border-radius: 5px;
  box-shadow: 2px 0px 2px 2px rgba(166, 32, 57, 0.1),
              2px 1px 2px 2px rgba(166, 32, 57, 0.2),
              2px 2px 2px 2px rgba(166, 32, 57, 0.3),
              2px 3px 2px 2px rgba(166, 32, 57, 0.4),
              2px 4px 2px 2px rgba(166, 32, 57, 0.5);

}
.App-link {
  color: #3a049e;
}

input:active,
input:hover,
input:focus{
  outline: none !important;
}
.color-bg {
  color: #e0e7bb !important;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media  (max-width:500px){

  .App-logo {
    height: 30vmin;
  }
  
}